.top
  background:
    image: url("../images/content/banner-bg.jpg")
    repeat: no-repeat
    size: cover
    position: center

  &-in
    display: flex
    flex-direction: column
    justify-content: center
    height: 100vh

  .container
    position: unset

  //&.stroke-ic
    //overflow: hidden
    &::after
      display: none
      bottom: calc(-100em/18)
      right: -70px



.banner
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  flex-grow: 1
  position: relative


  +phone-down
    justify-content: flex-start
  .progress
    display: flex
    margin-bottom: 4.63vh
    +phone-down
      margin-bottom: calc(90em/12)
      //margin-bottom: 9vh
    &-item
      display: flex
      flex-direction: column
      align-items: center
      margin-right: calc(20em/18)
      padding: 0 calc(25em/18)
      text-align: center
      &:last-child
        margin-right: 0
    &-count
      text-transform: uppercase
      color: $accent
      font-family: $ffNeumann
      font-size: calc(26em/18)
      line-height: 1.46
    &-title, &-subtitle
      font-size: calc(10em/18)
      line-height: 1.2
      +phone-down
        font-size: calc(7em/12)
        line-height: 1.28
    &-title
      font-family: $ffAvenirNextCyrBold

  .title
    margin-bottom: 10px
    margin-bottom: 0.92vh

    +tablet-down
      text-align: center
      margin-bottom: calc(20em/28)
    +phone-down
      font-size: calc(28em/12)
  .subtitle
    width: 33.85vw
    margin-bottom: 35px
    margin-bottom: 3.24vh
    +large-down
      width: 43.96vw
    +laptop-down
      width: 51.1vw
    +ipad-down
      width: 52.3vw
    +tablet-down
      text-align: center
      width: 100%
      margin-bottom: calc(70em/12)

  &-main
    width: 56.97vw
    margin-top: -10.4vh
    @media screen and (max-width: 1808px) and (min-width: 1400px) and (max-height: 800px)
      width: 86.4vw
    +large-down
      width: 74vw
    +large-down
      width: 86vw
    +ipad-down
      width: 88vw
    +tablet-down
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 0

  .btn-round
    margin-right: calc(22em/26)
  .btn-play
    display: flex
    align-items: center
    align-self: flex-end
    //bottom: -80px
    //bottom: -8.4%
    position: absolute
    bottom: 10.4vh
    +tablet-down
      display: none
  .btn-light
    will-change: transform

.laurel-ic
  position: relative
  &::before, &::after
    content: ""
    display: inline-block
    top: calc(7em/18)
    left: 0
    width: calc(52em/18)
    height: calc(72em/18)
    position: absolute
    background:
      color: transparent
      repeat: no-repeat
      size: cover
      position: center
      image: url("../images/icons/laurel.svg")
    +phone-down
      width: calc(38em/12)
      height: calc(53em/12)
      top: calc(7em/12)
  &::after
    left: unset
    right: 0
    transform: scaleX(-1)

.btn-play
  font-family: $ffNeumann
  font-size: calc(26em/18)
  line-height: 1.46
  text-align: center
  text-transform: uppercase
  color: $accent

.btn-round
  display: inline-block
  width: calc(98em/26)
  height: calc(98em/26)
  border-radius: 50%
  box-shadow: 0 0 calc(100em/26) $accent
  background-color: $accent

.btn-play-ic
  background:
    color: $accent
    image: url("../images/icons/play.svg")
    repeat: no-repeat
    size: 24%
    position: center


