.logo
  font-size: 26px
  background-color: red
  font-family: $ffAvenirNextCyrBold
  text-decoration: none
  color: $fontColorMain
  span
    color: $accent

  &-text
    font-size: 14px
    line-height: 1.2

.header
  display: flex
  .nav
    ul
      display: flex
      justify-content: space-between
      list-style: none
    a
      color: $fontColorMain
      display: inline-block
      text-decoration: none
