.logo
  display: flex
  justify-content: center
  align-items: center
  font-size: calc(26em/18)
  font-family: $ffAvenirNextCyrBold
  color: $fontColorMain
  text-transform: uppercase
  +tablet-down
    font-size: calc(18em/12)
  span
    color: $accent

  &-text
    font-size: calc(14em/18)
    line-height: 1.2
    display: inline-flex


.header
  display: flex
  justify-content: space-between
  align-items: center
  +tablet-down
    flex-direction: column
    align-items: stretch
  +phone-down
    padding: calc(26em/12) 0 calc(40em/12)
    //padding: 2.6vh 0 4vh
  .nav
    +tablet-down
      display: none
    ul
      display: flex
      justify-content: space-between
      align-items: center
      list-style: none
    a
      color: $fontColorMain
      display: inline-block

    &__item
      padding: 50px 20px 50px 0
      padding: 4.63vh calc(20em/18) 4.63vh 0

  .logo-text
    display: inline-block
    margin-left: calc(20em/14)
    +tablet-down
      display: none

  &-left
    width: 21.87vw
    display: inline-flex
    +tablet-down
      width: unset
      margin-bottom: calc(50em/12)

  &-right
    width: 25vw
    display: inline-flex
    justify-content: flex-start
    align-items: center
    +tablet-down
      align-self: center
      width: unset

  .btn-menu
    position: fixed
    right: 150px
    right: 7.81vw
    top: 30px
    top: 2.77vh
    z-index: 6
    +phone-down
      right: $pd_cont
      top: $pd_cont

  .contact-phone-ic
    margin-right: 10px

  .whatsapp
    +tablet-down
      display: none

.btn-menu
  display: inline-flex
  justify-content: center
  align-items: baseline
  min-width: calc(60em/18)
  min-height: calc(60em/18)
  width: calc(60em/18)
  height: calc(60em/18)
  padding: calc(17em/18)
  border-radius: 50%
  background-color: $fontColorMain
  fill: $accent
  cursor: pointer
  +tablet-down
    min-width: calc(44em/12)
    min-height: calc(44em/12)
    width: calc(44em/12)
    height: calc(44em/12)
  &__burger
    display: inline-block
    width: calc(26em/18)
    height: 3px
    background-color: $accent
    border-radius: 3px
    transition: all .5s ease-in-out
    top: 4px
    position: relative

    &::before, &::after
      display: inline-block
      content: ""
      position: absolute
      width: calc(26em/18)
      height: 3px
      background-color: $accent
      border-radius: 3px
      transition: all .5s ease-in-out
    &::before
      transform: translateY(calc(7em/18))
      right: 0
      width: calc(18em/18)
    &::after
      transform: translateY(calc(14em/18))

  &.open
    .btn-menu__burger
      transform: translateX(calc(2em/18)) translatey(calc(8em/18))

    .btn-menu__burger::before
      transform: rotate(135deg) translate(calc(9em/18), calc(14em/18))

      width: calc(12em/18)
    .btn-menu__burger::after
      width: calc(12em/18)
      transform: rotate(-135deg) translate(0px, calc(-4em/18))

  //.menu-ic
    transition: all .5s ease-in-out
    transform: rotate(45deg) translate(0px, -12px)
    opacity: 0
  //.menu-ic.open
    transform: rotate(0deg)
    opacity: 1


  .arrow-ic
    display: none
    //transition: .5s ease-in-out


.whatsapp
  display: inline-flex
  align-items: center
  font-size: calc(17em/18)
  line-height: 1.4
  color: $fontColorMain
  padding-left: 2.86vw
  &-ic
    display: inline-block
    width: calc(32em/17)
    height: calc(32em/17)
    margin-right: 0.78vw
  .svg-sym
    fill: $accent

.contact-phone
  display: inline-flex
  align-items: center
  font-size: calc(17rem/18)
  line-height: 1.2
  color: $fontColorMain
  font-family: $ffAvenirNextCyrBold
  //padding-left: 22px
  +tablet-down
    //font-size: 1em
  &-ic
    display: inline-flex
    align-items: center
    justify-content: center
    width: 22px
    height: 22px
    margin-right: 10px
    .svg-sym
      fill: $accent

.menu-main-wrap
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.9)
  padding-top: 12.5vh
  opacity: 0
  z-index: -5
  transition: all .5s ease-out
  .title
    margin-bottom: 4.62vh
  .container
    max-width: 100vw
    transition: all .8s ease-out
  &.active
    z-index: 5
    opacity: 1
    .container
      max-width: 85.9vw

.menu-main
  list-style: none
  &__item
    margin-bottom: 2.78vh
    margin-left: 30px
    &:last-child
      margin-bottom: 0
    a
      color: $fontColorMain
      font-size: calc(24em/18)
      line-height: 1.2
      display: inline-flex
      align-items: center
      &::before
        content: ""
        display: inline-block
        width: 8px
        height: 8px
        border-radius: 50%
        background-color: $accent
        box-shadow: 0px 0px 20px $accent
        margin-right: -8px
        opacity: 0
        transition: all .5s ease-out
  &__item
    &:hover
      a
        &::before
          opacity: 1
          margin-right: 20px

.contact-phone-btn
  display: inline-block
  width: calc(47em/17)
  height: calc(47em/17)
  min-width: calc(47em/17)
  min-height: calc(47em/17)

.contact-phone-ic
  background:
    color: $accent
    image: url("../images/icons/phone.svg")
    repeat: no-repeat
    size: 45%
    position: center
  +tablet-down
    background-size: 50%
