.title--shadow
  font-size: 60px
  line-height: 1.47
  color: transparent
  span 
    position: relative
    color: #ffffff
    text-transform: uppercase
    &.accent
      color: $accent
    &:before
      content: attr(data-text)
      text-transform: uppercase
      text-shadow: -20px -60px 0px rgba(255,255,255, 0.1)
      color: transparent
      font-size: 100px
      position: absolute
      display: inline-block
      white-space: nowrap
      //min-width: 600px
    &.second:before
      left: 100%
    &.accent:before
      text-shadow: -20px -60px 0px rgba(187,161,130, 0.1)
