.turnkey
  &-in
    padding-bottom: 320px
    background-color: blue
  h2.title
    width: calc(389em/60)
    margin-bottom: calc(80em/60)

  .tabs
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: calc(135em/18)
    &::before
      content: ""
      position: absolute
      top: calc(-85em/18)
      left: 51%
      width: calc(590em/18)
      height: calc(1043em/18)
      display: inline-block
      margin-left: calc((-590em/18)/2)
      z-index: 1
      background:
        image: url(../images/content/turnkey-girl.png)
        size: cover
        repeat: no-repeat
        position: center

  .tabs__items
    position: static
    margin-left: calc(50em/18)

  .tabs__item
    font-family: $ffNeumann
    margin-bottom: calc(60em/30)
  .tabs__body
    margin-top: calc(-215em/18)
  .tabs__block
    padding: 0
    overflow: hidden
  .tab__descr
    width: 27.5vw
    padding-top: calc(376em/18)
    background-position: calc(125em/18) calc(-100em/18)
    &::before
      content: ""
      display: inline-block
      background: radial-gradient(50% 50% at 50% 50%, rgba(187, 161, 130, 0.1) 0%, rgba(187, 161, 130, 0) 100%)
      width: calc(614em/18)
      height: calc(614em/18)
      border-radius: 50%
      position: absolute
      top: calc(-125em/18)
      right: calc(-190em/18)
    h3
      margin-bottom: calc(10em/35)
    &--arch
      background-image: url(../images/content/turnkey-design.png)
    &--design
      background-image: url(../images/content/turnkey-design.png)
    &--landsc
      background-image: url(../images/content/turnkey-design.png)
      //background: radial-gradient(50% 50% at 50% 50%, rgba(187, 161, 130, 0.1) 0%, rgba(187, 161, 130, 0) 100%)

  .application
    bottom: -40px
    position: absolute
    z-index: 2


.post
  font-size: calc(20em/18)
  line-height: 1.2
  display: inline-flex
  flex-direction: column
  align-items: flex-end
  position: absolute
  bottom: calc(-140em/20)
  left: 17%
  &__fio
    font-family: $ffAvenirNextCyrBold
    font-size: calc(26em/18)

.application
  background: $bg-white
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25)
  border-radius: 20px
  width: 84.4vw
  padding: calc(30em/18) 15% calc(20em/18)
  h3.title
    font-size: calc(48em/18)
    font-weight: 400
    color: $dark
    padding: 0 calc(50em/48)
    margin-bottom: calc(20em/48)

.form--column
  .form-in
    display: flex
    justify-content: space-between

  .form-field
    text-transform: unset
  .form-col
    margin-right: 20px
    flex-grow: 1
    &:last-child
      margin-right: 0
      width: 280px
      color: red
      flex-grow: unset
  .btn
    margin-bottom: 10px
    width: 100%
  .form-check
    width: unset
    color: $dark
