//@-webkit-keyframes slideme
  0%
    left: -30px
    margin-left: 0

  30%
    left: 110%
    margin-left: 80px

  100%
    left: 111%
    margin-left: 84px

//@keyframes slideme
  0%
    left: -30px
    margin-left: 0

  30%
    left: 110%
    margin-left: 80px

  100%
    left: 111%
    margin-left: 84px

@keyframes slideme
  0%
    left: -120px
    margin-left: 0

  to
    left: 110%
    margin-left: 40px

@-webkit-keyframes slide-up-in
  0%
    -webkit-transform: translate(0px, 100%) rotate(1deg)
    transform: translate(0px, 100%) rotate(1deg)
    opacity: 0
    -webkit-transform-origin: 0 0
    transform-origin: 0 0

  100%
    opacity: 1
    -webkit-transform: translate(0px, 0px) rotate(0deg)
    transform: translate(0px, 0px) rotate(0deg)
    -webkit-transform-origin: 0 0
    transform-origin: 0 0


.fade_in
  opacity: 1
  animation-delay: 0ms
  animation-duration: 1.5s
  animation-fill-mode: both
  animation-name: slide-up-in


@keyframes mouse
  0%
    transform: translateY(0)

  50%
    transform: translateY(calc(10em/18))



/* Container
$pulse_w: 15.625vw //300
//$pulse_w: 500px
.pulse
  //position: relative
  width: $pulse_w
  height: $pulse_w
  display: inline-flex
  justify-content: center
  align-items: center

  svg.svg-pulse
    width: $pulse_w
    height: $pulse_w
    display: block
    transform-origin: center
    position: absolute
    top: 0
    left: 0

  circle.circle
    fill: none
    vector-effect: non-scaling-stroke
    stroke-location: inside
    stroke: url('#gradient')
    stroke-width: 1px
    transform-origin: center
    //transform: scale(0.2)
    animation: pulse 2s infinite
    animation-timing-function: linear
    cx: 50%
    cy: 50%

    &.still
      animation: none
      fill: $accent
      stroke: $accent
      r: 2.5vw

    &:nth-child(2)
      animation-delay: 1s
    &:nth-child(3)
      animation-delay: 2s

//$pulse_sm_w: 5.2083vw //100
$pulse_sm_w: 7.2916vw //140px
$pulse_sm_w_mob: 200px
.pulse.pulse--sm
  width: $pulse_sm_w
  min-width: $pulse_sm_w
  height: $pulse_sm_w
  position: absolute
  left: -4.59375vw //-69px
  +phone-down
    width: $pulse_sm_w_mob
    height: $pulse_sm_w_mob
    min-width: $pulse_sm_w_mob
    left: -120px
    top: -90px

  svg.svg-pulse
    width: $pulse_sm_w
    height: $pulse_sm_w
    +phone-down
      width: $pulse_sm_w_mob
      height: $pulse_sm_w_mob

  circle.circle
    +phone-down
      r: 100px
    &.still
      fill: transparent
      stroke: transparent


.schema-collapse
  .pulse svg.svg-pulse
    top: calc(#{$pulse_sm_w} / (-2))


/* Pulse Animation
@keyframes pulse
  0%
    opacity: 1
    transform: scale(0.2)

  100%
    opacity: 0
    transform: scale(0.4)

/* Pulse Application

@-webkit-keyframes zoomIn
  0%
    transform: scale(0)

  100%
    transform: scale(1)

@keyframes zoomIn
  0%
    -webkit-transform: scale(0)
    transform: scale(0)

  100%
    -webkit-transform: scale(1)
    transform: scale(1)

@-webkit-keyframes unfoldIn
  0%
    -webkit-transform: scaleY(0.005) scaleX(0)
    transform: scaleY(0.005) scaleX(0)

  50%
    -webkit-transform: scaleY(0.005) scaleX(1)
    transform: scaleY(0.005) scaleX(1)

  100%
    -webkit-transform: scaleY(1) scaleX(1)
    transform: scaleY(1) scaleX(1)

@keyframes unfoldIn
  0%
    -webkit-transform: scaleY(0.005) scaleX(0)
    transform: scaleY(0.005) scaleX(0)

  50%
    -webkit-transform: scaleY(0.005) scaleX(1)
    transform: scaleY(0.005) scaleX(1)

  100%
    -webkit-transform: scaleY(1) scaleX(1)
    transform: scaleY(1) scaleX(1)

@-webkit-keyframes unfoldOut
  0%
    -webkit-transform: scaleY(1) scaleX(1)
    transform: scaleY(1) scaleX(1)

  50%
    -webkit-transform: scaleY(0.005) scaleX(1)
    transform: scaleY(0.005) scaleX(1)

  100%
    -webkit-transform: scaleY(0.005) scaleX(0)
    transform: scaleY(0.005) scaleX(0)

@keyframes unfoldOut
  0%
    -webkit-transform: scaleY(1) scaleX(1)
    transform: scaleY(1) scaleX(1)

  50%
    -webkit-transform: scaleY(0.005) scaleX(1)
    transform: scaleY(0.005) scaleX(1)

  100%
    -webkit-transform: scaleY(0.005) scaleX(0)
    transform: scaleY(0.005) scaleX(0)