*
	box-sizing: border-box
	&:focus, &:active
		outline: none !important

@viewport
	width: device-width

html
	//overflow: hidden
	font-size: 10px
	+tablet-down
		font-size: 9px

body
	font:
		family: $ffNeumann
		size: .9375vw
		weight: 400
	color: $fontColorMain
	line-height: $lineHeight_body
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	background-color: $bg-dark
	font-family: $ffAvenirNextCyr
	//+laptop-down
		font-size: 15px
	+ipad-down
		font-size: 14px
	+tablet-down
		font-size: 12px
	//+phone-down
		font-size: 12px
	&.stroke-ic
		overflow: hidden
		&::after
			bottom: -5.2vw
			right: -70px
h1, h2, h3, h4, h5, p, ul
	margin: 0px
	padding: 0px

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal
	text-transform: uppercase

h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2
	font-weight: 400
	text-transform: uppercase

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4

h5
	font-size: $fontSize_h5
	line-height: $lineHeight_h5

a
	text-decoration: none

.container
	max-width: 85.9vw
	width: 100%
	padding: 0 $pd_cont
	margin: 0 auto
	position: relative

	//background-color: rgba(255,255,255,0.5)
	+laptop-down
		max-width: 95vw
	+phone-down
		max-width: 100vw

.fullscreen
	.container
		height: 100vh
		+ipad-down
			height: auto
			padding-bottom: 3rem
		//+maxheight-down
			height: auto

.bg-white
	background-color: $bg-white

.title
	color: $fontColorMain
	font-family: $ffNeumann

.text-bold
	font-family: $ffAvenirNextCyrBold

.text-upper
	text-transform: uppercase

.btn
	position: relative
	font-family: $ffAvenirNextCyr
	font-size: 0.9375vw //18
	line-height: $lineHeight_body
	text-decoration: none
	-webkit-appearance: none
	border: 0
	cursor: pointer

	//&:hover
		color: inherit

	&-light
		padding: 2.22vh 2.4vw //24 46
		background: $accent
		box-shadow: 0px 4px 0px #655747, 0px 0px 3.33vw rgba(187, 161, 130, 0.4)
		border-radius: 5.2vw //100
		color: $btn-col
		transition: all .4s
		overflow: hidden
		&:hover
			background-color: $btn-hover-col
			color: $btn-col
		&:active, &:focus
			box-shadow: none
		+phone-down
			font-size: calc(16em/12)
			padding-left: 3.6em
			padding-right: 3.6em

	&-dark
		background-color: $block-bg
		border: 1px solid $field-brd
		color: #ffffff
		border-radius: calc(100em/18)


.btn-anim
	&:not(:disabled):before
		margin-left: calc(-30em/18)
		content: " "
		width: calc(30em/18)
		height: calc(300em/18)
		background: #fff
		position: absolute
		left: calc(-40em/18)
		top: calc(-150em/18)
		top-animation-timing-function: ease-in-out
		transition: all .1s
		animation-name: slideme
		animation-duration: 3.5s
		animation-iteration-count: infinite
		transform: rotate(45deg)

	&:after
		margin-left: calc(-30em/18)
		content: " "
		width: calc(30em/18)
		height: calc(300em/18)
		background: #fff
		animation-delay: .05s
		position: absolute
		left: calc(-90em/18)
		top: calc(-150em/18)
		top-animation-timing-function: ease-in-out
		transition: all .1s
		animation-name: slideme
		animation-duration: 3.5s
		animation-iteration-count: infinite
		transform: rotate(45deg)

.section-index-wrapper
	position: absolute
	right: 0
	top: calc(50% - 20.92vh / 2)
	+phone-down
		display: none

.section-index
	display: inline-block
	width: 2px
	height: 20.92vh
	background: linear-gradient(transparent, $accent)
	position: relative
	&::before
		content: ''
		display: inline-block
		width: 6px
		height: 6px
		border-radius: 50%
		background-color: $accent
		box-shadow: 0px 0px 17px $accent
		position: absolute
		bottom: -6px
		left: -2px
	&::after
		content: attr(data-index)
		color: $accent
		font-size: 14px
		line-height: 1.225
		font-weight: bold
		text-align: center
		font-family: $ffAvenirNextCyr
		position: absolute
		bottom: -34px
		left: -5px

.ic
	position: relative
	&::before
		content: ""
		display: inline-block
		position: absolute
		top: 0
		left: 0
		background:
			color: transparent
			repeat: no-repeat
			size: cover
			position: center

.accent
	color: $accent

.fixed
	position: fixed
	&.callback
		bottom: 9.26vh
		right: 2.08vw
		z-index: 4

.callback
	list-style: none
	display: flex
	flex-direction: column
	&__item
		display: inline-flex
		align-items: center
		margin-bottom: calc(30em/18)
	&__btn
		display: inline-block
		width: $callback-btn-w
		height: $callback-btn-w
		background-color: $fontColorMain
		border-radius: 50%
		padding: calc(15em/18)
		//opacity: 0
		transition: all .5s ease
		box-shadow: none
		.svg-sym
			fill: $dark
			transition: all .5s ease
		//&:hover
			background: $accent
			box-shadow: 0px 0px 17px $accent
			.svg-sym
				fill: #fff

	.prompt
		display: inline-block
		padding: calc(23em/14) calc(60em/14) calc(23em/14) calc(20em/14)
		font-family: $ffMontserrat
		font-size: calc(14em/18)
		line-height: 1.2
		text-transform: uppercase
		color: $fontColorMain
		width: calc(195em/14)
		background: transparent
		box-shadow: 0px 0px calc(30em/14) rgba(0, 0, 0, 0.35)
		border-radius: calc(20em/14)
		margin-right: calc(#{$callback-btn-w} / (-2))
		z-index: 1
		opacity: 0
		transition: all .8s ease-out

	&__item
		&:hover
			.prompt
				opacity: 1
				background: $block-bg_prompt
			.callback__btn
				background: $accent
				box-shadow: 0px 0px calc(17em/14) $accent
				.svg-sym
					fill: #fff


svg.svg-wrap
	width: 100%
	height: 100%

svg.svg-ic path
	fill: inherit

.modal-wrap-fixed
	position: fixed
	z-index: -12
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	opacity: 0
	&.active
		opacity: 1
		z-index: 12
		transition:
			property: all
			duration: 1s
			timing-function: ease-in-out

.modal-wrap
	display: flex
	align-items: center
	justify-content: center
	width: 100vw
	height: 100vh

.modal
	display: block
	background: $bg-white
	box-shadow: 0px calc(15em/18) calc(50em/18) rgba(0, 0, 0, 0.1)
	border-radius: calc(35em/18)
	width: calc(736em/18)
	font-family: $ffAvenirNextCyr
	font-size: 1em
	line-height: 1.4
	color: $dark
	position: relative
	+phone-down
		width: calc(100% - #{$pd_cont*2})
		border-radius: calc(35em/12)
	&__in
		padding: calc(50em/18) 20%
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		+phone-down
			padding: 45px 8%

	&__title
		a
			display: inline-flex
			font-family: $ffAvenirNextCyrHeavy
			font-size: 1em
			line-height: $lineHeight_h4
			color: $dark
			margin-bottom: calc(20em/36)
			+phone-down
				font-size: 28px
				margin-bottom: 20px
	&__subtitle
		font-family: $ffAvenirNextCyrBold
		font-size: calc(24em/18)
		line-height: 1.4
		//margin-bottom: calc(10em/24)
		+phone-down
			font-size: calc(20em/12)
			margin-bottom: 15px
		&:last-child
			+phone-down
				margin-bottom: 0px
		&.secd
			+phone-down
				margin-bottom: 0px

	.btn-light
		width: 100%
	.form
		margin-top: calc(20em/18)
		+phone-down
			margin-top: 50px

	.contact-phone-btn
		display: inline-block
		width: calc(47em/28)
		height: calc(47em/28)
		min-width: calc(47em/28)
		min-height: calc(47em/28)
		+phone-down
			display: none
.form
	width: 100%

.form-field
	width: 100%
	background: transparent
	//box-shadow: 0px calc(15em/18) calc(50em/18) rgba(0, 0, 0, 0.1)
	border-radius: calc(56em/18)
	font-size: 1em
	line-height: 1.2
	text-transform: uppercase
	text-align: center
	padding: calc(24em/18)
	border: 1px solid $field-brd
	&.error
		border-color: red
	+phone-down
		padding: 22px


.form-row
	margin-bottom: calc(20em/18)

.form-check-wrap
	display: flex
	justify-content: center
	+phone-down
		justify-content: flex-start

.form-check
	font-size: calc(12em/18)
	line-height: 1.225
	display: flex
	width: 67%
	border: 1px solid transparent
	+phone-down
		font-size: 1em
		width: 100%
	&.error
		border-color: red
	&__btn
		display: inline-block
		margin-right: calc(8em/12)
		&::before
			content: ""
			display: inline-block
			min-width: calc(17.8em/12)
			width: calc(17.8em/12)
			min-height: calc(16em/12)
			height: calc(16em/12)
			border-radius: 3px
			transition: all .3s ease-in
			background:
				color: $accent
				image: none
				repeat: no-repeat
				size: 0
				position: center
			+phone-down
				min-width: calc(17.8em/12)
				width: calc(17.8em/12)
				min-height: calc(16em/12)
				height: calc(16em/12)

	input[type="checkbox"]
		display: none
	input[type="checkbox"]:checked + .form-check__btn::before
		background-image: url("../images/icons/check.svg")
		background-size: 60%


.link
	color: inherit
	border-bottom: 1px solid $dark

.btn-close
	display: inline-flex
	position: absolute
	right: calc(40em/18)
	top: calc(30em/18)
	width: calc(32em/18)
	min-width: calc(32em/18)
	height: calc(32em/18)
	min-height: calc(32em/18)
	background:
		color: transparent
		image: url("../images/icons/close.svg")
		repeat: no-repeat
		size: cover
		position: center
	+phone-down
		width: calc(16em/12)
		min-width: calc(16em/12)
		height: calc(16em/12)
		min-height: calc(16em/12)

.btn-btm
	display: inline-flex
	align-items: center
	font-size: 1em
	position: absolute
	bottom: 13vh
	left: 0
	color: $fontColorMain
	cursor: pointer
	+large-down
		bottom: calc(4em/18)
	+laptop-down
		bottom: calc(18em/15)
	+tablet-down
		position: static
	+phone-down
		display: none
	+maxheight700-down
		position: static
		margin-top: 2em
	.svg-sym
		fill: $fontColorMain

.mouse-ic
	display: inline-block
	min-width: calc(22em/18)
	min-height: calc(22em/18)
	width: calc(22em/18)
	height: calc(22em/18)
	margin-right: calc(10em/18)

.btn-btm
	.mouse-ic-btn
		transform: translateY(0)
		transition: all .5s ease-out
	&:hover
		.mouse-ic-btn
			transform: translateY(calc(10em/18))

//.stroke-ic
	position: relative
	&::after
		content: ""
		display: inline-block
		width: calc(574em/18)
		height: calc(574em/18)
		position: absolute
		bottom: 0
		right: 0
		transform: rotate(-75deg)
		z-index: 1
		background:
			color: rebeccapurple
			image: url("../images/content/strokes.png")
			repeat: no-repeat
			size: contain
			position: center

.br-btm
	border-bottom: 1px solid rgba(255, 255, 255, 0.2)

.contact
	display: inline-flex
	align-items: center
	font-size: 0.88vw
	line-height: 1.2
	color: $fontColorMain
	font-family: $ffAvenirNextCyrBold
	&-ic
		display: inline-flex
		align-items: center
		justify-content: center
		width: 22px
		height: 22px
		margin-right: 10px
		.svg-sym
			fill: $accent