*
	box-sizing: border-box
	&:focus, &:active
		outline: none !important

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $ffNeumann
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: $lineHeight_body
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	background-color: $bg-dark
	font-family: $ffAvenirNextCyr

h1, h2, h3, h4, p, ul
	margin: 0px
	padding: 0px

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal
	text-transform: uppercase

h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2
	font-weight: 400
	text-transform: uppercase

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4

a
	text-decoration: none

.container
	max-width: 85.9vw
	width: 100%
	padding: 0 $pd_cont
	margin: 0 auto
	position: relative
	//background-color: rgba(255,255,255,0.5)

.fullscreen
	.container
		height: 100vh

.title
	color: $fontColorMain
	font-family: $ffNeumann

.text-bold
	font-weight: bold

.text-upper
	text-transform: uppercase

.btn
	position: relative
	font-family: $ffAvenirNextCyr
	font-size: $fontSize_body
	line-height: $lineHeight_body
	text-decoration: none
	-webkit-appearance: none
	border: 0

	&:hover
		color: inherit

	&-light
		padding: 24px 46px
		background: $accent
		box-shadow: 0px 4px 0px #655747, 0px 0px 64px rgba(187, 161, 130, 0.4)
		border-radius: 100px
		color: $btn-col
		transition: all .4s
		overflow: hidden
		&:hover
			background-color: $btn-hover-col
			color: $btn-col
		&:active, &:focus
			box-shadow: none

.btn-anim
	&:not(:disabled):before
		margin-left: -30px
		content: " "
		width: 30px
		height: 300px
		background: #fff
		position: absolute
		left: -40px
		top: -150px
		top-animation-timing-function: ease-in-out
		transition: all .1s
		animation-name: slideme
		animation-duration: 3.5s
		animation-iteration-count: infinite
		transform: rotate(45deg)

	&:after
		margin-left: -30px
		content: " "
		width: 30px
		height: 300px
		background: #fff
		animation-delay: .05s
		position: absolute
		left: -90px
		top: -150px
		top-animation-timing-function: ease-in-out
		transition: all .1s
		animation-name: slideme
		animation-duration: 3.5s
		animation-iteration-count: infinite
		transform: rotate(45deg)

.section-index-wrapper
	position: absolute
	right: 0
	top: calc(50% - 226px / 2)
.section-index
	display: inline-block
	width: 2px
	height: 226px
	background: linear-gradient(transparent, $accent)
	position: relative
	&::before
		content: ''
		display: inline-block
		width: 6px
		height: 6px
		border-radius: 50%
		background-color: $accent
		box-shadow: 0px 0px 17px $accent
		position: absolute
		bottom: -6px
		left: -2px
	&::after
		content: attr(data-index)
		color: $accent
		font-size: 14px
		line-height: 1.225
		text-align: center
		font-family: $ffAvenirNextCyr
		position: absolute
		bottom: -25px
		left: -5px

.ic
	position: relative
	&::before
		content: ""
		display: inline-block
		position: absolute
		top: 0
		left: 0
		background:
			color: transparent
			repeat: no-repeat
			size: cover
			position: center

.accent
	color: $accent

.fixed
	position: fixed
	bottom: 0
	right: 0

.callback
	list-style: none
	&__item
		display: inline-flex
		align-items: center
		flex-direction: column
	&__btn
		display: inline-block
		width: 60px
		height: 60px
		background-color: $fontColorMain
		border-radius: 50%
	.prompt
		display: inline-block
		padding: 23px 20px
		font-family: $ffMontserrat
		font-size: 14px
		line-height: 1.2
		text-transform: uppercase
		color: $fontColorMain
		width: 195px
		background: $block-bg
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15)
		border-radius: 20px

