//general font
$fontSize_body: 18px
$lineHeight_body: 1.225

$pd_cont: 15px

$fontColorMain: #ffffff

//general color
$accent: #BBA182
$accent_rgba: rgba(187, 161, 130, 1)
$greey: #636363
$dark: #1A1821
$bg-dark: #201F24
$bg-white: #F2EFEB
$block-bg: #2B2A31
$block-bg_prompt: rgba(43, 42, 49, .15)
$btn-col: #1E1D23
$btn-hover-col: #E1C29D

//h1, h2
$fontSize_h1: calc(60em/18)
$lineHeight_h1: 1.473

$fontSize_h2: calc(60em/18)
$lineHeight_h2: 1.473

$fontSize_h3: calc(35em/18)
$lineHeight_h3: 1.473

$fontSize_h4: calc(36em/18)
$lineHeight_h4: 1.2

$ffNeumann: Neumann, sans-serif
$ffAvenirNextCyr: AvenirNextCyr, sans-serif
$ffAvenirNextCyrHeavy: AvenirNextCyr-Heavy, sans-serif
$ffAvenirNextCyrBold: AvenirNextCyr-Bold, sans-serif
$ffMontserrat: Montserrat, sans-serif


$callback-btn-w: calc(60em/18)