//general font
$fontSize_body: 18px
$lineHeight_body: 1.225

$pd_cont: 15px

$fontColorMain: #ffffff

//general color
$accent: #BBA182
$accent_rgba: rgba(187, 161, 130, 1)
$greey: #636363
$dark: #1A1821
$dark2: #3E3E3E
$bg-dark: #201F24
$bg-white: #F2EFEB
$block-bg: #2B2A31
$block-bg_prompt: $block-bg //rgba(43, 42, 49, .15)
$btn-col: #1E1D23
$btn-hover-col: #E1C29D
$field-brd: #C9C9C9
$range-bg: #EDEAE0
$grey_mid: #878787

//h1, h2
$fontSize_h1: 3.125vw //60
$fontSize_h1_ipad: 3rem //30
$lineHeight_h1: 1.473

$fontSize_h2: 3.125vw //60
$fontSize_h2_ipad: 3rem //30
$lineHeight_h2: 1.473

$fontSize_h3: 1.8vw //35
$fontSize_h3_ipad: 1.75rem //17.5
$lineHeight_h3: 1.473

$fontSize_h4: 1.875vw //36
$fontSize_h4_ipad: 1.8rem //18
$lineHeight_h4: 1.2

$fontSize_h5: 0.9375vw //18
$fontSize_h5_ipad: 0.9rem //9
$lineHeight_h5: 1.2

$ffNeumann: Neumann, sans-serif
$ffAvenirNextCyr: AvenirNextCyr, sans-serif
$ffAvenirNextCyrHeavy: AvenirNextCyr-Heavy, sans-serif
$ffAvenirNextCyrBold: AvenirNextCyr-Bold, sans-serif
$ffMontserrat: Montserrat, sans-serif


$callback-btn-w: 3.125vw //60
$callback-btn-w_ph: 4.88rem //60